@import url('https://fonts.googleapis.com/css?family=Inter');
 * {
    font-family: 'Inter';
}

body {
    background-image: url('../../assets/backgrounds/it_bg-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.poll-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .header{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

    .img{
        width: 50%;

        max-width: 500px;
        padding-right: 10%;
        padding-top: 1%;
    }

    .par{
        width: 50%;
        padding: auto;
        padding-left: 10%;
        padding-top: 2%;
        color: #FFFFFF;
        max-width: 600px;
        margin: 0;
        margin-right: auto;
  }


  .main-page{
    padding: 70px 0 10px 0;
  }